<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="csrf-token" content={csrf_token_value()}>
  <%= live_title_tag assigns[:page_title] || "Blog", suffix: " · Tchowa Franck" %>
  <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css" )} />
  <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js" )}></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136402341-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-136402341-1');
  </script>
</head>

<body>
  <header>
    <nav>
      <h1>Franck Tchowa</h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="https://github.com/franckstifler">GitHub</a></li>
        <li><a href="/about">About Me</a></li>
        <li><a href="/contact">Contact Me</a></li>
      </ul>
    </nav>
  </header>
  <%= @inner_content %>
</body>

</html>