.post-listing {
    margin: 1.5em 0;
    padding-bottom: 40px;
    border-bottom: solid rgb(209, 209, 209) 1px;
}

.post-listing__title:hover {
    color: #3F51B5;
}

.post-listing small {
    font-style: oblique;
    font-size: .75em;
    color: #3d3d3d;
}

.post-listing__content {
    /* margin-top: 10px; */
    margin: 5px 0;
    color: #1a1a1a;
    font-size: .8em;
}

.post-listing__footer {
    font-size: .8em;
    margin-top: 10px;
}

.post-listing .tags a {
    padding: 2px 10px;
    margin-right: 5px;
    /* background-color: #3F51B5; */
    background: linear-gradient(157deg, rgb(106, 137, 202), #3F51B5);
    color: #fff;
    border-radius: 5px;
}