*,*:after,*:before{box-sizing:inherit}

html{box-sizing:border-box}

body{
  font-family: 'Roboto Slab', serif;
  font-size:1.6rem;
  line-height:1.5;
  padding: 0;
  margin: 0;
}

h1, h2, h5, h3, h4, h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}