<h3>Contact me</h3>
<p>
    Have a question, need my CV, or any other information, email me at <a style="color: #3F51B5" href="mailto:francktchowa@gmail.com">francktchowa@gmail.com</a>, and I will do my very best to attend to you.
</p>